bulld/*
build/**
__pycache__
__pycache__/*
__pycache__/**
*/__pycache__
**/__pycache__
jupyter_splunk.egg-info
jupyter_splunk.egg-info/*
jupyter_splunk.egg-info/**
dist
dist/*
dist/**
build
*.env
**.env

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Additional adds
*.ipynb
*.ipynb_checkpoints
prep_dev_env.py